<header>
    <nav>

        <a routerLink="/"> <img src="./../../../assets/picture/logo.png" alt="asd"></a>

        <ul>
            <div *ngIf="isUser">
                <li><a routerLink="/catalog">Catalog</a></li>
                <div *ngIf="isBroker">
                    <li><a routerLink="/catalog/create">Add Estate</a></li>
                </div>
                <li><a routerLink='/' (click)="logout()">Logout</a></li>
                <li><a routerLink="/profile">My Profile</a></li>


            </div>


            <div *ngIf="!isUser">
                <li><a routerLink="/register">Register</a></li>
                <li><a routerLink="/login">Login</a></li>
            </div>
        </ul>
    </nav>
</header>