<section id="guest">
    <header>
        <img src="../../../assets/picture/pngwing.png" alt="test">
        <h2>buy and sell easier than ever!</h2>
    </header>

    <article>
        <div class="content">
            <h2>You want find your new house?</h2>
            <p>Here is the perfect place to buy your new house or apartment!</p>
            <a routerLink="/catalog">See all possibilities</a>
        </div>
        <img src="../../../assets/picture/houseForBuy.png" alt="">

    </article>

    <article id="brokers_add">
        <img src="../../../assets/picture/brokers.png" alt="">
        <div class="content">
            <h2>You are broker, who wants find new customers?</h2>
            <p>Here is the perfect place to find your new customers and sell your estates!</p>
            <a routerLink="/register/brokers">Register as a broker now!</a>
        </div>


    </article>
</section>