<article>
    <section class="content">
        <img [src]="estate.img" alt="">

        <section class="description">
            <h2>{{estate.title}}</h2>
            <p id="estate-text">{{estate.description}}</p>
            <div class="estate-info">
                <p> <span>Address:</span> {{estate.address}}</p>
                <p> <span>Price:</span> {{estate.price}} $</p>
            </div>
        </section>
    </section>

    <div class="broker">
        <section class="broker_action">
            <h3>Actions</h3>
            <br>
            <app-button [url]="'/catalog/' + estate._id + '/sell'" [content]="'Sell'" [backgroundColor]="'green'"></app-button>
            <button class="delete" (click)="deleteHandle()">delete</button>
            <app-button [url]="'/catalog/' + estate._id + '/edit'" [content]="'Edit'" [backgroundColor]="'yellow'"></app-button>
        </section>

        <section class="broker_statistic">
            <h3>Statistics</h3>
            <h4>
                <i class="fa-solid fa-eye"></i> {{estate.views}}
            </h4>
            <h4>
                <i class="fa-solid fa-heart"></i> {{estate.views}}
            </h4>
            <h4>
                <i class="fa-solid fa-calendar-day"></i> {{estate.views}}
            </h4>
        </section>
    </div>

    <section class="user_actions">
        <div>
            <h3>Actions</h3>
            <app-button [url]="'/catalog/like/' + estate._id" [content]="'Add in Loves'"></app-button>
        </div>


        <form class="form">
            <h3>Save View Date</h3>
            <label for="date">Chose date!</label>
            <input type="date" id="date">
            <label for="time">Chose time!</label>
            <input type="time" id="time">
            <input type="submit" id="submit">
        </form>
    </section>
</article>