<article>
    <section class="content">
        <img [src]="estate.img" alt="">

        <section class="description">
            <h2>{{estate.title}}</h2>
            <p id="estate-text">{{estate.description}}</p>
            <div class="estate-info">
                <p> <span>Address:</span> {{estate.address}}</p>
                <p> <span>Price:</span> {{estate.price}} $</p>
            </div>
        </section>
    </section>

    <div class="broker" *ngIf="estate.creator == userId">
        <section class="broker_action">
            <h3>Actions</h3>
            <br>
            <button class="sell" (click)="sellHandle()">Sell</button>
            <button class="delete" (click)="deleteHandle()">delete</button>
            <app-button [url]="'/catalog/edit/' + estate._id" [backgroundColor]="'yellow'" [content]="'Edit'"></app-button>

        </section>

        <section class="broker_statistic">
            <h3>Statistics</h3>
            <h4>
                <i class="fa-solid fa-eye"></i> {{estate.views}}
            </h4>
            <h4>
                <i class="fa-solid fa-heart"></i> {{estate.likers.length}}
            </h4>
            <h4>
                <i class="fa-solid fa-calendar-day"></i> {{estate.savedDates.length}}
            </h4>
        </section>
    </div>

    <section class="user_actions" *ngIf="estate.creator !== userId">
        <div>
            <h3>Actions</h3>
            <button [ngClass]="{'like': isLiked, 'dislike': !isLiked}" (click)="addInLovesHandle()">Add in loves</button>
        </div>


        <div>
            <h3>Save View Date!</h3>
            <app-button class="save-date" [url]="'/catalog/date/' + estate._id" [backgroundColor]="'green'" [content]="'Save Date!'"></app-button>
        </div>
    </section>

    <section class="user_actions date-list" *ngIf="estate.creator == userId">
        <div>
            <h3>Saved View Dates</h3>
            <div class="saved-date" *ngFor="let date of estate.savedDates ">
                <span> date:</span>
                <h4>{{date.date}}</h4>

                <span> start time:</span>
                <h4>{{date.time}}</h4>

                <span> Tel for contact:</span>
                <h4>{{date.tel}}</h4>

            </div>
        </div>
    </section>
</article>